<div class="side-bar">
  <div class="side-bar__header">
    <div class="header-name">
      Ryumas
    </div>
    <div class="create-room">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side-bar__group-list">
    <div class="group">
      <div class="group-name">
        <a href="#">techroom1</a>
      </div>
    </div>
    <div class="group">
      <div class="group-name">
        <a href="#">techroom2</a>
      </div>
    </div>
  </div>
</div>